html {
    font-size: 25px;
    display: flex;
    background-color: rgb(35, 35, 35);
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

.red-hat-display-html {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.03em;
}

.lista-homepage {
    list-style: none;
    position: absolute;
    padding: 0;
   
}

.lista-homepage > li > a {
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


